@using Radzen
@using Microsoft.AspNetCore.Components
@using Client.Models
@using Client.Data
@using global::Shared.Models
@inject DialogService DialogService
@inject IProductService ProductService

<RadzenTemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Produkt"/>
        </div>
        <div class="col">
            @if (products != null)
            {
                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data=@products.Products @bind-Value=@model.Product TextProperty="Name"/>
            }
            else
            {
                <em>Loading</em>
            }
        </div>
    </div>
    
    <div class="row" style="margin-bottom: 16px">                                                                                      
        <div class="col-md-3">                                                                                                         
            <RadzenLabel Text="Cena"/>                                                                                                 
        </div>                                                                                                                         
                                                                                                                                       
        <div class="col">                                                                                                              
            @if (products != null)                                                                                                     
            {                                                                                                                          
                <RadzenNumeric Disabled="true" TValue="double" @bind-Value="model.Product.Price"/>                                     
            }                                                                                                                          
            else                                                                                                                       
            {                                                                                                                          
                <em>Loading...</em>                                                                                                    
            }                                                                                                                          
        </div>                                                                                                                         
    </div>                                                                                                                             
                                                                                                                                       
    <div class="row" style="margin-bottom: 16px">                                                                                      
        <div class="col-md-3">                                                                                                         
            <RadzenLabel Text="Dĺžka v minútach"/>                                                                                     
        </div>                                                                                                                         
                                                                                                                                       
        <div class="col">                                                                                                              
            @if (products != null)                                                                                                     
            {                                                                                                                          
                <RadzenNumeric Disabled="true" TValue="int" @bind-Value="model.Product.ProcedureLengthInMinutes"/>                     
            }                                                                                                                          
            else                                                                                                                       
            {                                                                                                                          
                <em>Loading...</em>                                                                                                    
            }                                                                                                                          
        </div>                                                                                                                         
    </div>                                                                                                                             
    
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start"/>
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true"/>
            <RadzenRequiredValidator Text="Start is required" Component="Start"/>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="End"/>
        </div>
        <div class="col">
            <RadzenDatePicker Name="End" @bind-Value="@model.End" ShowTime="true" ReadOnly="true"/>
            <RadzenRequiredValidator Component="End" Text="End is required"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save"/>
        </div>
    </div>
</RadzenTemplateForm>

@code {

    [Parameter]
    public Appointment model { get; set; } = new Appointment();

    private ProductList products;

    void OnSubmit(Appointment model)
    {
        DialogService.Close(model);
    }

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllCompanyProducts(3);
    }
}