@using Radzen
@using API.Models
<div class="col-xl-4 p-3">
    <RadzenCard>
        <h2 class="mb-4">Register and password reset</h2>
        <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
            <RadzenLogin Login=@(args => OnLogin(args, "Login with register and password reset")) 
                         ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                         Register=@(args => OnRegister("Login with register and password reset")) 
                         LoginText="Prihlásiť" UserText="Email" PasswordText="Heslo"
                         UserRequired="Email je povinný"
                         PasswordRequired="Heslo je povinné"
                         RegisterText="Zaregistrovať sa"
                         RegisterMessageText="Nemáš ešte účet?"
                         ResetPasswordText="Zabudol som heslo."
                         />
            </RadzenTemplateForm>
    </RadzenCard>
</div>


@code {
    void OnLogin(LoginArgs args, string name)
    {
        User user = new User()
        {
            Email = args.Username,
            Password = Helper.ComputeSha256Hash(args.Password)
        };
    // console.Log($"{name} -> Username: {args.Username} and password: {args.Password}");
    }
    
    void OnRegister(string name)
    {
        // console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        // console.Log($"{name} -> ResetPassword for user: {value}");
    }
}