@using global::Shared.Models
@using Microsoft.AspNetCore.Components
@using Radzen
@using Client.Data.CompanyOwners

@inject ICompanyOwnerService CompanyOwnerService
@inject NavigationManager NavigationManager

<RadzenTemplateForm TItem="CompanyOwner" Data="newCompanyOwner" Submit=@Submit>
    <RadzenFieldset Text="Registrácia majiteľa">

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Email"/>
            </div>
            <div class="col-md-8">
                <RadzenTextBox Class="w-100" style="width: 100%; display: block" @bind-Value="newCompanyOwner.Email" Name="Email"/>
                <RadzenRequiredValidator Component="Email" Text="Email je povinný" Style="position: absolute"/>
                <RadzenEmailValidator Component="Email" Text="Email je neplatný" Style="position: absolute"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Password"/>
            </div>
            <div class="col-md-8">
                <RadzenPassword style="width: 100%;" @bind-Value="newCompanyOwner.Password" Name="Password"/>
                @* <RadzenRegexValidator Pattern="" Component="Password" Text="Heslo musí obsahovať: jedno veľké písmeno, jedno malé písmeno a číslo."></RadzenRegexValidator> *@
                <RadzenRequiredValidator Component="Password" Text="Heslo je povinné!"></RadzenRequiredValidator>
            </div>
        </div>
    </RadzenFieldset>
    <RadzenFieldset Text="Registrácia firmy">

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Meno Firmy"/>
            </div>
            <div class="col-md-8">
                <RadzenPassword style="width: 100%;" @bind-Value="newCompanyOwner.Company.Name" Name="CompanyName"/>
                <RadzenRequiredValidator Component="CompanyName" Text="Meno firmy je povinné!"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row justify-content-center">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Uložiť"/>
        </div>
        <em>@SubmitFeedback</em>
    </RadzenFieldset>
</RadzenTemplateForm>

@code {


    private string SubmitFeedback = "";
    private CompanyOwner newCompanyOwner = new CompanyOwner();

    public async Task Submit()
    {
        try
        {
            var companyOwner = newCompanyOwner.Copy();
            companyOwner.Password = Helper.Hash(companyOwner.Password);
            await CompanyOwnerService.CreateCompanyOwnerAsync(newCompanyOwner);
            SubmitFeedback = "Úspešne ste sa zaregistrovali. Váš účet bude posúdený";
        }
        catch (Exception e)
        {
            Console.Write(e.Message);
            SubmitFeedback = e.Message;
        }
    }

}