@using Client.Data.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Client</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <AuthorizeView Policy="CompanyOwner">

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="products" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span>Produkty
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="calendar" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span>Kalendár
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="workingdays" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span>Pracovné dni
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="appointments" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span>Dohodnuté časy
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="Customer">

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="appointments/create" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-box" aria-hidden="true"></span>Objednať sa
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>

                <li class="nav-item px-3">
                    <NavLink @onclick="Logout" class="nav-link" href="" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-box" aria-hidden="true"></span>Odhlásiť
                    </NavLink>
                </li>

            </Authorized>
        </AuthorizeView>
    </ul>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
    }

}